<div class="input-group mb-3 searchBar">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
    </div>
    <input class="form-control" [(ngModel)]="listFilter" placeholder="Search by order no" aria-label="Username" aria-describedby="basic-addon1">
  </div>
<table class="table table-hover">
    <thead class="thead-light">
        <th>Order No</th>
        <th>Customer</th>
        <th>Payment Method</th>
        <th>Grand Total</th>
        <th>
            <!--Use routerLink property for redirecting the links: eg. routerLink="/order"-->
            <a class="btn btn-sm btn-success text-white" (click)="redirectToMain()"><i class="fa fa-plus-square"></i> Create New</a>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredOrders">
            <th (click)="openForEdit(item.OrderId)">{{item.OrderNo}}</th>
            <th (click)="openForEdit(item.OrderId)">{{item.Customer}}</th>
            <th (click)="openForEdit(item.OrderId)">{{item.PaymentMethod}}</th>
            <th (click)="openForEdit(item.OrderId)">{{item.Total}}</th>
            <th>
                <a class="btn btn-sm btn-danger text-white ml-1"
                (click)="deleteOrder(item.OrderId, item.OrderNo)">
                <i class="fas fa-trash-alt"></i></a>
            </th>
        </tr>
    </tbody>
</table>